/* .mdImage img {
    width:400;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

} */

ol, ul {
    padding: 5px;
    background-color: #eee;
    display: inline-block;
    
}